<div style="text-align: center">
  <img 
    src="../assets/logo.jpg"
    height=100
    width=100
    alt="logo"
    class="logo"
  />
  <h1 class="app-title">TODO List</h1>
</div>
<div class="container">
Add a todo...
<input type="text" class="input-text" placeholder="Type a todo" [(ngModel)]="todoValue" (keyup.enter)="addTodo()"/>
<button class="add-btn" (click)="addTodo()">Add todo</button>
<br />
<div class="list">
  <ul>
    <li *ngFor="let item of list">
      <input type="checkbox" name="isDone" [(ngModel)]="item.isDone"/>
      {{ item.value }}
      <button class="btn" (click)="deleteTodo(item.id)">Delete</button>
    </li>
  </ul>
</div>
</div>